* {
  box-sizing: border-box;
  color: inherit;
  border: red, solid, 2px;
}

:root {
  /*COLORS*/
  --primary-color: #099d8d;
  --text-color: #54585a;
  --secondary-color: #14d9c4;
  /* FONTS*/
  --primary-font: "Rubik", sans-serif;
  --secundary-font: "Open Sans", sans-serif;
}

/*html {
  font-family: Arial, Helvetica, sans-serif;
}*/

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strengths h3,
.weaknesses h3 {
  color: var(--primary-color);
  text-align: center;
  font-family: var(--primary-font);
}

.strengths p,
.weaknesses p {
  color: var(--text-color);
  text-align: center;
  font-family: var(--secundary-font);
}

.container {
  background-color: rgba(184, 184, 185, 0.2);
  padding: 0 15px;
  position: relative;
}

.group h2 {
  color: var(--secondary-color);
  font-family: var(--primary-font);
}

.littlesquare {
  border: 1px solid black; /*temporal*/
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0;
  transform: translate(50%, -50%) rotate(45deg);
  right: 50%;
  background-color: white;
  flex-direction: column;
}
