* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none; /*REVISAR*/
  display: flex;
  flex-direction: column; /*REVISAR*/
  list-style-type: none; /*REVISAR*/
  padding: 0px;
  border: 1px solid black; /* temporal */
  font-family: var(--primary-font);
  font-size: 16px; /*REVISAR*/
  text-align: center;
}

:root {
  /*COLORS*/
  --primary-color: #099d8d;
  --secondary-color: #14d9c4;
  --light-color: white;
  --font-color: #313131;
  --copyright-color: #b8b8b9;
  --paragraph-color: #54585a;

  /*FONTS*/
  --primary-font: "Rubik", sans-serif;
  --secundary-font: "Open Sans", sans-serif;
}

.team-section {
  background-color: var(--light-color);
}

.littlesquare {
  border: 1px solid black; /*temporal*/
  width: 30px;
  height: 30px;
  position: absolute;
  margin:0;
  transform: translate(0%,-50%) rotate(45deg) ;
  background-color: white;
  flex-direction: column;
}

.qualities {
  background-color: var(--copyright-color); /*poner opacidad*/
  align-items: center;
}
h2 {
  width: 100%;
  color: var(--primary-color);
  font-family: "Rubik", sans-serif;

.qualities div h3 {
  width: 100%;
  background-color: var(--copyright-color); /*poner opacidad*/
  color: var(--primary-color);
  font-family: "Rubik", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  color: var(--paragraph-color);
  width: 100%;
  text-align: center;
}

.element {
  width: 30px;
  height: 30px;
  background-color: white;
  transform: rotate(45deg) translate(0, 50%);
}
.div2 {
  font-family: "Rubik", sans-serif;
  background-color: rgba(184, 184, 185, 0.2);
}
