<footer class="footer">
  <div class="wrapper__footer">
    <span class="copyright">©2020 AdaWonders</span>
    <nav class="footer__menu">
      <ul>
        <li><a href="#team-title">EQUIPO</a></li>
        <li><a href="#members">QUIENES SOMOS</a></li>
        <li><a href="#">CONTACTO</a></li>
      </ul>
    </nav>
    <div class="logo">
      <a href="https://adalab.es/"
        ><img
          class="logo__img"
          src="../../assets/images/logo-adalab.png"
          alt="logo Adalab"
          target="_blank"
      /></a>
    </div>
  </div>
</footer>
