<header class="header">
  <div class="header-wrapper">
    <h1 class="team-name">
      <img
        class="ada-logo"
        src="./assets/images/logo_adawonders.png"
        rel="logotipo team"
      />ADAWONDERS
    </h1>  
    <nav class="menu">
      <ul class="header-menu">
        <li>
          <a href="index.html#team-title" title="Equipo">EQUIPO</a>
        </li>
        <li>
          <a href="index.html#members" title="Quiénes somos">QUIÉNES SOMOS </a>
        </li>
        <li>
          <a href="contact.html" title="Contacto" target="_blank">CONTACTO</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
