<section class="members" id="members">
  <div class="wrapper">
    <h2 class="members__whoweare">QUIÉNES SOMOS</h2>
    <article class="members__member1">
      <div class="members__photos">
        <img class="members__photos--photo" src="./assets/images/recortadas/img_elenag(recortada).jpg"
          alt="foto de perfil de Elena Gallego" />
      </div>
      <div class="members__descriptions">
        <h3 class="members__descriptions--names">Elena Gallego</h3>
        <p>
          Apasionada por las metodologías de trabajo digitales ha trabajado en
          varias universidades y en alguna empresa de diseño web.Está deseando
          desenvolverse con excelencia en el sector del desarrollo web.
          Superpoderes: capaz de convertir una debilidad en una fortaleza, es
          comprometida, curiosa, ágil y le encanta trabajar en equipo.
        </p>
        <div class="members__socialmedia">
          <ul class="members__socialmedia--logos">
            <li>
              <a href="https://twitter.com/FrontGallego" title="ir a twitter de Elena Gallego" target="_blank">
                <i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/elena-gallego-b463191ab/" title="ir a linkedin de Elena Gallego"
                target="_blank">
                <i class="fab fa-linkedin-in" title="linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/Elena-Gallego" title="ir a github de Elena Gallego" target="_blank">
                <i class="fab fa-github-alt"></i></a>
            </li>
            <li>
              <a href="mailto:elenagallego.front@gmail.com" title="mandar correo a Elena Gallego" target="_blank">
                <i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="members__member2">
      <div class="members__photos">
        <img class="members__photos--photo" src="./assets/images/recortadas/img_elenar(recor).jpg"
          alt="foto de perfil de Elena Ramírez" />
      </div>
      <div class="members__descriptions">
        <h3 class="members__descriptions--names">Elena Ramírez</h3>
        <p>
          Desarrolladora front-end en bruto. Tambien ha trabajado como
          arquitecta técnica en 6 ciudades antes de llegar a Adalab. Entusiasta,
          creativa y siempre dispuesta a realizar un trabajo de calidad. Su
          poder es la adaptabilidad en nuevos equipos.
        </p>
        <div class="members__socialmedia">
          <ul class="members__socialmedia--logos">
            <li>
              <a href="https://twitter.com/_ElenaRReinoso" title="ir a twitter de Elena Ramírez" target="_blank">
                <i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/eramirezreinoso/" title="ir a linkedin de Elena Ramírez"
                target="_blank">
                <i class="fab fa-linkedin-in" title="linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/erreinoso" title="ir a github de Elena Ramírez" target="_blank">
                <i class="fab fa-github-alt"></i></a>
            </li>
            <li>
              <a href="mailto:eramirezreinoso@gmail.com" title="mandar correo a Elena Ramírez" target="_blank">
                <i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="members__member1">
      <div class="members__photos">
        <img class="members__photos--photo" src="./assets/images/recortadas/img_isa(recor).jpg"
          alt="foto de perfil de Isabel Olivares" />
      </div>
      <div class="members__descriptions">
        <h3 class="members__descriptions--names">Isabel Olivares</h3>
        <p>
          Traductora, amante de la lingüistica y aprendiz de nuevos lenguajes
          que le permitan abrirse un camino en el mundo del desarrollo web.
          Acostumbrada a trabajar en ambientes multiculturales y en equipo, le
          encanta aprender cosas nuevas. Es empática, positiva y creativa.
          Superpoder: conseguir lo que se propone.
        </p>
        <div class="members__socialmedia">
          <ul class="members__socialmedia--logos">
            <li>
              <a href="https://twitter.com/IsaOlivaresR?s=09" title="ir a twitter de Isabel Olivares" target="_blank">
                <i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/isabel-olivares-roldán-a6057019a"
                title="ir a linkedin de Isabel Olivares" target="_blank">
                <i class="fab fa-linkedin-in" title="linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/IsabelOlivaresR" title="ir a github de Isabel Olivares" target="_blank">
                <i class="fab fa-github-alt"></i></a>
            </li>
            <li>
              <a href="mailto:isabel.olivares6@gmail.com" title="mandar correo a Isabel Olivares" target="_blank">
                <i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="members__member2">
      <div class="members__photos">
        <img class="members__photos--photo" src="./assets/images/recortadas/img_marian(recor).jpg"
          alt="Foto de perfil de Marián de la Osa" />
      </div>
      <div class="members__descriptions">
        <h3 class="members__descriptions--names">Marián de la Osa</h3>
        <p>
          Empezó su vida laboral como una gran maestra de educación infantil y
          primaria pero ha decidido dar un giro y, en poco tiempo; se ha
          convertido en Junior en desarrollo de páginas Web. Posee experiencia
          en React, Agile y ha trabajado con éxito en remoto y con las
          herramienteas Git y Trello. Súperpoder: desbordar creatividad, una
          rápida capacidad de adaptación y de ser una gran trabajadora en
          equipo.
        </p>
        <div class="members__socialmedia">
          <ul class="members__socialmedia--logos">
            <li>
              <a href="https://twitter.com/MariandelaOsa" title="ir a twitter de Marián de la Osa" target="_blank">
                <i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/marian-de-la-osa-izquierdo-89a31643/"
                title="ir a linkedin de Marián de la Osa" target="_blank">
                <i class="fab fa-linkedin-in" title="linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/Mdelaosaiz" title="ir a github de Marián de la Osa" target="_blank">
                <i class="fab fa-github-alt"></i></a>
            </li>
            <li>
              <a href="mailto:mariandelaosa@gmail.com" title="mandar correo a Marián de la Osa" target="_blank">
                <i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="members__member1">
      <div class="members__photos">
        <img class="members__photos--photo" src="./assets/images/recortadas/img_vir(recor).jpg"
          alt="foto de perfil de Virginia Gomez" />
      </div>
      <div class="members__descriptions">
        <h3 class="members__descriptions--names">Virginia Gómez</h3>
        <p>
          Ambientóloga convencida de que el medio ambiente y las TICs son los
          pilares que mueven el mundo. Orgullosa de haber trabajado en contextos
          muy diferentes desarrollando competencias transversales. Superpoderes:
          comprometida y con iniciativa. Con mucha capacidad de aprendizaje y
          siempre dispuesta a mejorar.
        </p>
        <div class="members__socialmedia">
          <ul class="members__socialmedia--logos">
            <li>
              <a href="https://twitter.com/dchiki_?s=09" title="ir a twitter de Virginia Gómez" target="_blank">
                <i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in//virginiagomezR" title="ir a linkedin de Virginia Gómez"
                target="_blank">
                <i class="fab fa-linkedin-in" title="linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/VirginiaGomezR/" title="ir a github de Virginia Gómez" target="_blank">
                <i class="fab fa-github-alt"></i></a>
            </li>
            <li>
              <a href="mailto:virginiagomezr@gmail.com" title="mandar correo a Virginia Gómez" target="_blank">
                <i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</section>