<section class="team">
  <div class="wrapper-team">
    <div class="claim">
      <p>Tu web parecerá ciencia ficción</p>
    </div>
    <div class="team-box">
      <h2 class="team-title" id="team-title">EQUIPO</h2>
      <p>
        Decidieron despegar como desarrolladoras para hacer de tu marca algo
        extraordinario. Tienen una excelente comunicación y todas las
        herramientas para ofrecer distintas soluciones a distintas necesidades.
      </p>
    </div>
  </div>
     <div class="container">
       <div class="wrapper-container-team">
         <div class="littlesquare"></div>
           <article class="strengths">
             <h3>Fortalezas</h3>
             <p>
               Su filosofía de trabajo se basa en la mejora y aprendizaje continuo,
               el pensamiento creativo y la capacidad de adaptación. La situación
               generada por el Covid-19 ha hecho que desarrollen una gran capacidad
               de comunicación y sus ganas de aprender nuevas herramientas de trabajo
               han logrado que aprendan HTML y CSS.
             </p>
           </article>
         <article class="weaknesses">
           <h3>Debilidades</h3>
           <p>
             La falta de experiencia hace que queden muchas cosas que mejorar y en
             las que profundizar. En esta desventaja ellas ven tan solo nuevas
             oportunidades, curiosidad y ganas de aprender. Nuevos e importantes
             retos las acechan, estarán preparadas para ello.
           </p>
          </article>
       </div>
    </div>
  </div>
</section>
