// fonts
$primary-font: "Rubik", sans-serif;
$secundary-font: "Open Sans", sans-serif;

// colors
$primary-color: #099d8d;
$secondary-color: #14d9c4;
$light-color: #ffffff;
$font-color: #000000;
$copyright-color: #b8b8b9;
$paragraph-color: #54585a;
