[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia photo_2020-04-23_16-49-38.jpg129 kB JPEGOpen file
Type=Link
URL=https://adalab-digital.slack.com/files/U0142RSA4JY/F014JGDQCLU/photo_2020-04-23_16-49-38.jpg?origin_team=T2Q8FS5QB&origin_channel=Pbrowse-files
Icon=text-html
