/* FOOTER */

.footer {
  border-top: 1px solid $paragraph-color;
}
.wrapper__footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media all and (min-width: 768px) {
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media all and (min-width: 768px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.logo {
  height: 45px;
  width: 115.9px;
  margin-bottom: 45px;
  grid-area: logo;

  @media all and (min-width: 768px) {
    margin-left: 45px;
  }

  &__img {
    width: 100%;
  }
}

.footer__menu {
  margin-bottom: 15px;
  font-size: 15px;
  grid-area: menu;
  @media all and (min-width: 768px) {
    align-self: flex-end;
    order: 1;
    margin-top: -145px;
    margin-right: 45px;
  }

  & li {
    color: #54585a;
    font-family: $secundary-font;
    list-style-type: none;
    font-size: 14px;
    text-align: center;
    line-height: 2;
    @media all and (min-width: 768px) {
      text-align: right;
    }
  }
}

.copyright {
  color: #b8b8b9;
  font-family: $secundary-font;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 30px;
  grid-area: copyright;
  @media all and (min-width: 768px) {
    margin-left: 45px;
  }
}
