/* FOOTER */
.wrapper-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer {
  border-top: 1px solid var(--paragraph-color);
}

.logo {
  height: 45px;
  width: 115.9px;
  margin-bottom: 45px;
}

.imglogo {
  width: 100%;
}

.menu-footer li {
  color: #54585a;
  font-family: var(--secundary-font);
  list-style-type: none;
  font-size: 14px;
  text-align: center;
  line-height: 2;
}

.menu-footer {
  margin-bottom: 15px;
}

.copyright {
  color: #b8b8b9;
  font-family: var(--secundary-font);
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 30px;
}

/*Mediaqueries*/
@media all and (min-width: 768px) {
  .wrapper-footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .copyright,
  .logo {
    margin-left: 45px;
  }

  .menu-footer {
    align-self: flex-end;
    order: 1;
    margin-top: -145px;
    margin-right: 45px;
  }
  .menu-footer li {
    text-align: right;
  }
}
