/* FOOTER */

.footer {
  border-top: 1px solid $paragraph-color;

  .wrapper__footer {
    width: 100vw;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat (3 1fr);
    grid-template-rows: 25% 50% 25%;
    grid-gap: 10px;
    @media all and (min-width: 768px) {
      grid-template-rows: 30% 70%;
    }
  }

  .copyright {
    color: #b8b8b9;
    font-family: $secundary-font;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 30px;
    grid-column: span 3;
    text-align: center;
    @media all and (min-width: 768px) {
      grid-column: 1/2;
      grid-row: 1/2;
      text-align: left;
      margin: 20px 0 0 45px;
    }
  }

  .footer__menu {
    grid-column: span 3;
    text-align: center;
    font-size: 15px;
    grid-column: 2/3;
    grid-row: 2/3;

    @media all and (min-width: 768px) {
      grid-column: 3/4;
      grid-row: 1/3;
      margin-right: 45px;
    }

    & li {
      color: #54585a;
      font-family: $secundary-font;
      list-style-type: none;
      font-size: 14px;
      text-align: center;
      line-height: 2;
      @media all and (min-width: 768px) {
        text-align: right;
      }
    }
  }
  .logo {
    grid-column: span 3;
    grid-column: 2/3;
    grid-row: 3/4;
    height: 45px;
    width: 115.9px;
    margin: auto;
    margin-bottom: 45px;

    @media all and (min-width: 768px) {
      grid-column: 1/2;
      grid-row: 2/3;
      margin: 0 0 45px 45px;
    }

    &__img {
      width: 100%;
    }
  }
}
