.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;

  h1 {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 24px;
    font-family: $primary-font;
    font-weight: normal;
    text-align: center;
  }
}

.form_box {
  width: 320px;
  margin: auto;

  @media all and(min-width:768px) {
    width: 442px;
  }

  @media all and(min-width:1200px) {
    width: 601px;
  }
}

.contact__text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: $primary-font;
  font-size: 16px;
  text-align: center;
  text-transform: initial;
  width: 290px;
  margin-bottom: 58px;

  @media all and (min-width: 768px) {
    width: 442px;
  }

  @media all and (min-width: 1200px) {
    width: 601px;
  }

  .contact__text--big {
    font-size: 16px;
    font-family: $secundary-font;
    color: $paragraph-color;
  }
  .contact__text--small {
    font-size: 12px;
    font-family: $secundary-font;
    color: $paragraph-color;
  }
}

form .fas,
form .fab,
p .fas {
  color: $secundary-color;
  font-size: 8px;
  transform: translate(0, -70%);
}

form {
  display: block;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  font-family: $secundary-font;
}

label {
  display: inline-block;
  height: 45px;
  padding-top: 15px;
  font-family: $secundary-font;
  color: $paragraph-color;
}

input {
  text-align: left;
  display: block;
  width: 100%;
  font-size: 14px;
  border: 1px solid $copyright-color;
  height: 45px;
  font-family: $secundary-font;
  color: $copyright-color;
  padding: 10px;
}

#emailAddress {
  color: $paragraph-color;
}

textarea {
  text-align: left;
  display: block;
  width: 100%;
  font-size: 14px;
  border: 1px solid $copyright-color;
  font-family: $secundary-font;
  padding: 10px;
}

.buttom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 290px;
  height: 45px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: $primary-color;
  color: $light-color;
  text-transform: uppercase;
  padding: auto;
<<<<<<< HEAD

  @media all and (min-width: 768px) {
    width: 206px;
    margin-right: 0;
  }

  @media all and (min-width: 1200px) {
    width: 278px;
=======
  transition: color ease 1s;
  &:hover {
    background-color: $paragraph-color;
>>>>>>> 17b22072bb15e04395ba60d64c0406339c4f645c
  }
}
