body {
  font-size: 16px;
}

.header-team .wrapper {
  text-decoration: none;
  display: block;
  width: 100%;
  justify-content: center;
  background-color: $primary-color;
  color: $light-color;
  padding: 0;
  margin: 0;
  opacity: 0.95;
}

.ada-logo {
  width: 2.5rem;
}

.header {
  font-family: $primary-font;
  position: relative;
  opacity: 0.95;
}
.menu {
  color: $light-color;
  background-color: $secundary-color;
  font-size: 15px;
}

.team-name {
  background-color: $primary-color;
  color: $light-color;
  display: flex;
  height: 4.063rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header-menu {
  color: $light-color;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  margin: 0px;
  padding: 0.9375rem;
}

.header-menu a {
  font-family: $primary-font;
  padding: 0px;
  color: $light-color;
  display: flex;
}

.header-menu li {
  color: $light-color;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

/*MEDIAQUERIES*/
@media all and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    position: none;
  }

  .header-menu li {
    padding-right: 30px;
  }

  .team-name {
    width: 50%;
    justify-content: left;
    padding-left: 2.813rem;
  }

  .header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    width: 100%;
    display: inline-block;
    background-color: $primary-color;
  }

  .header-menu {
    background-color: $primary-color;
    justify-content: flex-end;
  }
}
