.header {
  font-family: $primary-font;
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  background-color: rgba(9, 157, 141, 0.8);
  z-index: 1;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: auto;
}

.team-name {
  color: $light-color;
  font-size: 22px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;

  .ada-logo {
    width: 2.5rem;
    margin-right: 10px;
    animation-name: intro;
    animation-duration: 2s;
  }
  @keyframes intro {
    from {
      transform: scale(3) rotate(-150deg);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  color: $light-color;
  background-color: rgba(20, 217, 196, 0.8);
  font-size: 15px;
}

.header-menu {
  color: $light-color;
  font-weight: lighter;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin: 0px;
  padding: 0.9375rem;
}

.header-menu a {
  font-family: $primary-font;
  color: $light-color;
  display: flex;
}

.header-menu li {
  color: $light-color;
  display: flex;
  padding: 6px;
  justify-content: center;
}

/*MEDIAQUERIES*/
@media all and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: none;
  }

  .header-menu li {
    padding-right: 30px;
  }

  .team-name {
    width: 50%;
    justify-content: left;
    padding-left: 2.813rem;
  }

  .header-wrapper {
    flex-direction: row;
  }

  .menu {
    width: 100%;
    display: inline-block;
    background-color: inherit;
  }

  .header-menu {
    justify-content: flex-end;
  }
}
