.section__hero {
  height: 300px;
  width:100%;
  margin-bottom:0px;
  background-image: url("../../assets/images/background-contact.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;


  @media all and (min-width:768px){
    margin-bottom: 45px;
    margin-top: 45px;
  }
}
