.members {
  &__whoweare {
    font-family: "Rubik", sans-serif;
    color: $primary-color;
    font-size: 24px;
    display: block;
    text-align: center;
  }

  &__photos {
    height: 180px;
    width: 180px;
    position: relative;
    margin: auto;

    @media all and (min-width: 768px) {
      height: 205px;
      width: 205px;
      padding-top: 4px;
    }

    @media all and (min-width: 1200px) {
      height: 278px;
      width: 278px;
    }

    &--photo {
      border-radius: 4px;
      width: 100%;
      align-items: center;
      border: solid 5px rgba(0, 0, 0, 0.08);
    }
  }

  &__descriptions {
    height: auto;
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: $paragraph-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;

    &--names {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      color: var(--font-color);
      margin: 0px;
    }
  }

  &__socialmedia {
    height: auto;
    width: 200px;
    justify-content: space-around;
    align-self: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;

    li:not(:last-child):after {
      content: " · ";
      color: $primary-color;
      font-weight: 900;
      padding: 5px;
    }

    &--logos {
      flex-direction: row;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      .fas,
      .fab {
        font-size: 20px;
        color: $primary-color;
      }
    }
  }

  @media all and (min-width: 768px) {
    &__member1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 45px;
      margin-right: 45px;
      padding-top: 10px;

      .members__descriptions {
        margin-left: 29px;
        text-align: left;

        &--names {
          margin-bottom: 10px;
        }
        p {
          margin: 0;
          padding: 0;
        }
      }
      .members__socialmedia {
        align-self: start;

        &--logos {
          justify-content: flex-start;
        }
      }
    }

    &__member2 {
      display: flex;
      flex-direction: row-reverse;
      margin-left: 45px;
      margin-right: 45px;

      .members__descriptions {
        margin-right: 29px;
        text-align: right;

        &--names {
          margin-bottom: 10px;
        }
        p {
          margin: 0;
          padding: 0;
        }
        .members__socialmedia {
          align-self: flex-end;

          &--logos {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
