:root {
  /*COLORS*/
  --primary-color: #099d8d;
  --secondary-color: #14d9c4;
  --light-color: #ffffff;
  --font-color: #000000;
  --copyright-color: #b8b8b9;
  --paragraph-color: #54585a;
}

body {
  width: 320px;
}
.who-we-are {
  font-family: "Rubik", sans-serif;
  color: var(--primary-color);
  font-size: 24px;
  display: block;
  text-align: center;
}
article {
  border: 1px solid red;
}
.photos {
  height: 180px;
  width: 100%;
  border: 1px solid blue;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.photo-eg {
  height: 200px;
}
.photo-er {
  height: 200px;
}
.photo-io {
  height: 200px;
}
.photo-md {
  height: 200px;
}
.photo-vg {
  height: 200px;
}
.names {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: var(--font-color);
  margin: 0px;
}

.descriptions {
  height: 300px;
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--paragraph-color);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-media {
  height: 40px;
  width: 150px;
  border: 1px solid purple;
  display: flex;
  justify-content: space-around;
  align-self: center;
}
.github-logo {
  height: 20px;
}
.twitter-logo {
  height: 20px;
}
.mail-logo {
  height: 20px;
}
.linkedin-logo {
  height: 20px;
}
