:root {
  /*COLORS*/
  --primary-color: #099d8d;
  --secondary-color: #14d9c4;
  --light-color: #ffffff;
  --font-color: #000000;
  --copyright-color: #b8b8b9;
  --paragraph-color: #54585a;
}
* {
  border: 1px solid red;
  text-decoration: none;
}
body {
  width: 100%;
}
.who-we-are {
  font-family: "Rubik", sans-serif;
  color: var(--primary-color);
  font-size: 24px;
  display: block;
  text-align: center;
}

.photos {
  height: 180px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.photo {
  height: 180px;
  width: 180px;
}

.names {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: var(--font-color);
  margin: 0px;
}

.descriptions {
  height: 300px;
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--paragraph-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.descriptions p {
  padding: 0 15px;
}

.social-media {
  height: 40px;
  width: 150px;
  border: 1px solid purple;
  display: flex;
  justify-content: space-around;
  align-self: center;
}
.github-logo {
  height: 20px;
}
.twitter-logo {
  height: 20px;
}
.mail-logo {
  height: 20px;
}
.linkedin-logo {
  height: 20px;
}
/**NO SE TOCA**/
.social-media a:nth-child(-n + 3):after {
  content: "·";
  color: var(--primary-color);
  font-weight: bold;
  font-size: 25px;
}
